extends layout

block content
  .w3-container.w3-margin.w3-teal
    h1(style='text-align: center;') Página inicial
  .w3-container.w3-margin
    ul.w3-ul
      li
        a(href='/classes') Classes
      li
        a(href='/termos') Termos de índice
